body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background: url("../images/space.jpg");
    background-size: cover;
    cursor: zoom-in;
    padding: 0px;
    margin: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.home-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ff8f33;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 1000;
}

.home-button:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

.heading {
    padding: 100px 0px 50px 0px;
    font-size: 2em;
    font-wieght: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2em;
}

.main-btn-group {
    text-align: center;
    margin-top: 2em;
}

.main-btn {
    display: inline-block;
    padding: 18px 50px;
    margin: 10px;
    background-color: #ff8f33;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid #ff8f33;
    transition: 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.main-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}


.login-form, .signup-form, .create-form, .test-form, .filter-form {
    padding: 100px 0px 50px 0px;
}

.login-form h1, .signup-form h1, .create-form h1, .test-form h1, .filter-form h1 {
    font-size: 2em;
    font-wieght: 800;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2em;
}

.login-top, .signup-top {
    width: 460px;
    display: block;
    margin: 0 auto;

}
.create-top{
    width: 750px;
    display: block;
    margin: 0 auto;

}

form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
.row {
    display: flex;
    gap: 20px;
}
.column {
    flex: 1;
}
.login-ic, .signup-ic, .create-ic {
    background-color: rgba(255, 255, 255, 0.32) ;
    margin-bottom: 1.5em;
    padding: 8px;
}
.create-ic {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.32);
    padding: 8px;
    margin-bottom: 1.5em;
}
.create-ic label {
    width: 30%;
    color: #fff;
}
.login-ic span img, .signup-ic span img {
    width: 38px;
    height: 38px;
    width: 38px;
    height: 38px;
    float: left;
    display: inline-block;
}

.login-top input[type="text"], .login-top input[type="password"], .login-top input[type="email"],
.signup-top input[type="text"], .signup-top input[type="password"], .signup-top input[type="email"], .signup-top select,
.create-top input[type="text"], .create-top input[type="number"], .create-top input[type="date"], .create-top textarea, .create-top select {
    /*float: left;*/
    background: none;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding: 10px 16px;
    border-left: 1px solid #fff;
    border-left-width: medium;
    width: 82%;
    display: inline-block;
    margin-left: 6px;
}

.signup-top select option, .create-top select option {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    background-color: #fff;
}

.login-top input::placeholder, .signup-top input::placeholder, .create-top input::placeholder{
    color: #d2d2d2;
    opacity: 1;
}
.create-top input[type="date"], .create-top input::placeholder, .create-top textarea::placeholder, .create-top select {
    color: #d2d2d2;
    opacity: 1;
}
.clear {
    clear: both;
}

.log-btn, .save-btn {
    text-align: center;
    padding: 0;
    margin: 0;
}

.log-btn input[type="submit"], .save-btn input[type="submit"]{
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 13px 0;
    background: #ff8f33;
    display: inline-block;
    width: 100%;
    outline:none;
    border:2px solid #ff8f33;
    cursor:pointer;
    text-transform:uppercase;
}

.log-btn input[type="submit"]:hover, .save-btn input[type="submit"]:hover{
    transition: all 0.3s ease;
    border: 2px solid #fff;
}

p {
    text-align: center;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}

.signup-link, .login-link{
    margin-top: 1em;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.signup-link a , .login-link a{
    color: #ffcc99;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup-link a:hover , .login-link a:hover{
    color: #ffffff;
    text-decoration: underline;
}

/* TEST RESULT LIST */
.test-form ul {
    list-style-type: none;
    padding: 0;
}

.test-form li {
    margin: 10px 0;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passed {
    color: #27ae60;
    font-weight: bold;
}

.failed {
    color: #c0392b;
    font-weight: bold;
}

/* FINISH BUTTON */
.test-form .main-btn {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.test-form .main-btn:hover {
    background-color: #18934c;
}

/* PLAN BOX (LIST ITEMS) */
.plan-box {
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #ddd;
    padding: 20px 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 30%;
    transition: transform 0.3s ease;
}

.plan-box:hover {
    transform: scale(1.01);
}

.plan-box p {
    margin: 6px 0;
    color: #000;
    line-height: 1.5;
    text-align: left;
}

.plan-box form {
    text-align: right;
    margin-top: 10px;
}

.plan-box button,
.test-btn, .submit-btn{
    background-color: #ff8f33;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.plan-box button:hover,
.test-btn:hover ,.submit-btn:hover{
    background-color: #ffcc99;
    color: #000000;
}

/* SUCCESS & ERROR MESSAGES */
.success-message,
.error-message {
    font-size: 15px;
    font-weight: bold;
    padding: 12px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
}

.test-results-box {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    width: 50%;
    margin: 40px auto;
}

.test-results-box h3 {
    text-align: center;
    color: #2c3e50;
    font-weight: 800;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.test-results-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.test-results-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    border-left: 6px solid #ccc;
    margin-bottom: 12px;
    background-color: #f8f8f8;
    border-radius: 6px;
    font-size: 16px;
    transition: 0.2s ease;
}

.test-results-box li.passed {
    border-left-color: #2ecc71;
}

.test-results-box li.failed {
    border-left-color: #e74c3c;
}

.test-label {
    font-weight: 600;
    color: #333;
}

.test-status {
    font-weight: bold;
    text-transform: uppercase;
}

/* FILTER FORM */

.filter-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-form select {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.modal-content h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}

.modal-content button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#confirm-btn {
    background-color: #2ecc71;
    color: white;
}

#cancel-btn {
    background-color: #e74c3c;
    color: white;
}

/* TOAST */
.toast {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f8d7da;
    color: #721c24;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    z-index: 1000;
    font-size: 14px;
    font-weight: 500;
}

/*!* SUCCESS & ERROR MESSAGE *!*/
/*.error-message {*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    padding: 12px 20px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 6px;*/
/*    text-align: center;*/
/*    background-color: rgba(255, 255, 255, 0.75);*/
/*    border: 1px solid #e74c3c;*/
/*    color: #e74c3c;*/
/*}*/

.plan-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 12px;
}

.test-btn,
.submit-btn {
    background-color: #ff8f33;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
}

.test-btn:hover,
.submit-btn:hover {
    background-color: #ffcc99;
    color: #000000;
}

.filter-form label {
    color: #ffffff;
}

.success-message {
    color: #2ecc71;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #2ecc71;
    width: 50%;
    margin: 40px auto;
}

.error-message {
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #e74c3c;
    width: 50%;
    margin: 40px auto;
}
