<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<a href="/" class="home-button">Log Out</a>
<div class="heading">
    <h1>Welcome <span th:text="${loginUser}"></span>'s to Gemini Observatory </h1>
</div>
<div class="main-btn-group">
    <a href="/science-plan/create" class="main-btn">Create Science Plan</a>
    <a href="/science-plan/test" class="main-btn">Test Science Plan</a>
    <a href="/science-plan/submit" class="main-btn">Submit Science Plan</a>
</div>
</body>
</html>